.main-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    
    
   
   

}

.item {
    background-color: #8B96C4;
    border-radius: 50px;
    border-width: 1px;
    flex-grow: 0;
    height: 15rem;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

h1 {
    margin-top: 10px;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: large;
}



main li {
    margin-bottom: 10px;
    
}
.border {margin-top: 20px;
margin-left: 25px;
text-transform: initial;
}
